{{#eachPhoto}}
	
	<a class="fancybox-thumb" rel="fancybox-thumb" href="{{this}}" >
		<div class="col-sm-4 col-xs-6" style="padding: 5px;">
<!-- 		<div class="outImage">
			<div class="dummyImage"></div>
 -->			<div class="inImage">
				<img src="{{this}}" class="albumImage" alt="" />
			</div>
<!-- 		</div>
 -->		</div>
	</a>
{{/eachPhoto}}