<div class="widget">
    <div class="widget-content" style="padding-top: 40px;">
        <img src="/content/images/SL-Rec-Sports-Logo-large.jpg" height="200" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
</div>