<div class="widget">
	<h3 class="widget-title">Newsletter</h3>	
	<div class="widget-content">
		<p class="summary-text">
			Subscribe to keep up to date with the team!
		</p>
		<form action="//michigansailing.us5.list-manage.com/subscribe/post?u=419a14f6027f977582a32e363&amp;id=c7393139a7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div class="input-group">
				<input id="mc-email" type="email" placeholder="Email address" name="EMAIL" class="form-control" required>

				<span class="input-group-btn">
		        	<button class="btn btn-theme" type="submit"><i class="fa fa-long-arrow-right"></i></button>
		      	</span>
		    </div>
	    </form>	
	</div>
</div>